{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Posts</title>
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
</head>
<body>
    <div class="container">
        <div class="post-grid">
            {% for post in object_list %}
                <div class="post">
                    <h1>{{ post.title }}</h1>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="A picture of {{ post.title }}">
                    {% endif %}
                    <p>{{ post.content }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>